<h3 class="tourney-section-heading" id="phase-{{phase-group.phase}}-heading">Double Elimination</h3>

<div class="tourney-bracket-de">
    <div class="tourney-bracket-de-brackets">
        <h4 class="tourney-bracket-heading" id="phase-{{phase-group.phase}}-winners-heading">Winners Bracket</h4>
        <div class="tourney-bracket" aria-labelledby="phase-{{phase-group.phase}}-winners-heading">
            {% for round-group in phase-group.winners-bracket %}
            <div class="tourney-bracket-round">
                <h5 class="tourney-bracket-round-label" id="round-{{round-group.phase}}-w-{{round-group.round}}">
                    WB Round {{round-group.round|add:1}}
                </h5>
                <div class="tourney-bracket-round-matches">
                    {% for match in round-group.matches %}
                    {% include "rts-web/view/tournament/_bracket-match.html" %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>

        {% if phase-group.losers-bracket|not-empty? %}
        <h4 class="tourney-bracket-heading" id="phase-{{phase-group.phase}}-losers-heading">Losers Bracket</h4>
        <div class="tourney-bracket tourney-bracket--losers" aria-labelledby="phase-{{phase-group.phase}}-losers-heading">
            {% for round-group in phase-group.losers-bracket %}
            <div class="tourney-bracket-round">
                <h5 class="tourney-bracket-round-label" id="round-{{round-group.phase}}-l-{{round-group.round}}">
                    LB Round {{round-group.round|add:1}}
                </h5>
                <div class="tourney-bracket-round-matches">
                    {% for match in round-group.matches %}
                    {% include "rts-web/view/tournament/_bracket-match.html" %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    {% if phase-group.grand-final|not-empty? %}
    <aside class="tourney-bracket-de-gf" aria-labelledby="phase-{{phase-group.phase}}-gf-heading">
        <h4 class="tourney-bracket-heading tourney-bracket-de-gf-heading" id="phase-{{phase-group.phase}}-gf-heading">Grand Final</h4>
        {% for round-group in phase-group.grand-final %}
        <div class="tourney-bracket-round tourney-bracket-round--grand-final">
            {% for match in round-group.matches %}
            {% include "rts-web/view/tournament/_bracket-match.html" %}
            {% endfor %}
        </div>
        {% endfor %}
    </aside>
    {% endif %}
</div>
