{:paths ["src" "resources"]
 :deps {integrant/integrant        {:mvn/version "0.8.0"}
        migratus/migratus          {:mvn/version "0.9.0"}
        org.clojure/java.classpath {:mvn/version "0.3.0"}
        org.xerial/sqlite-jdbc     {:mvn/version "3.39.3.0"}}}
