{:aliases  {:dev {:extra-paths ["development/src"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               mono/schema {:local/root "components/schema"}
                               mono/resourcekit {:local/root "components/resourcekit"}
                               mono/content-negotiation {:local/root "components/content-negotiation"}
                               mono/http {:local/root "components/http"}
                               mono/jdbc {:local/root "components/jdbc"}
                               mono/rts-data {:local/root "components/rts-data"}
                               mono/rts-data-access {:local/root "components/rts-data-access"}
                               mono/rts-domain {:local/root "components/rts-domain"}
                               mono/rts-web {:local/root "components/rts-web"}
                               mono/rts-api {:local/root "bases/rts-api"}
                               mono/rts-data-deploy {:local/root "bases/rts-data-deploy"}}}

            :test {:extra-paths ["components/schema"
                                 "components/resourcekit"
                                 "components/content-negotiation"
                                 "components/rts-data"
                                 "components/rts-data-access"
                                 "components/rts-domain"
                                 "bases/rts-api"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "dc87aa3b4be5496488d70c78e1db37ad3a9ba52f"
                                 :deps/root "projects/poly"}}}}}
