{:paths ["src" "resources"]
 :deps {com.taoensso/timbre {:mvn/version "6.0.4"}
        integrant/integrant {:mvn/version "0.8.0"}
        funcool/cats {:mvn/version "2.4.2"}
        metosin/reitit {:mvn/version "0.5.18"}
        metosin/malli {:mvn/version "0.9.2"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        metosin/muuntaja-form {:mvn/version "0.6.8"}
        mono/content-negotiation {:local/root "../../components/content-negotiation"}
        mono/schema {:local/root "../../components/schema"}
        ring/ring-jetty-adapter {:mvn/version "1.7.1"}
        selmer/selmer {:mvn/version "1.12.55"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.834"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.xerial/sqlite-jdbc {:mvn/version "3.39.3.0"}}
 :aliases {:build {:main-opts ["-m" "com.devereux-henley.rts-api.core"]}
           :dev {:extra-paths ["dev"]}
           :test {:extra-paths ["test"]
                  :extra-deps {}}}}
