<h3>{{data.name}}</h3>
<p>{{data.description|linebreaks|safe}}</p>
{% if data._embedded.units-by-category %}
{% for group in data._embedded.units-by-category %}
<h4>{{group.category}}</h4>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Unit Type</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for unit in group.units %}
        <tr>
            <td>{{unit.name}}</td>
            <td>{{unit.unit-type-name}}</td>
            <td>{{unit.cost}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
{% endif %}
