{:hooks {:analyze-call {com.devereux-henley.rts-data-deploy.migrations-test/with-temp-db hooks.migrations-test/with-temp-db}}
 :config-in-ns {build {:linters {:redefined-var {:level :off}}}}
 :linters {:unresolved-symbol {:exclude [(odoyle.rules/ruleset)]}}}
