<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yegor256/tacit@gh-pages/tacit-css.min.css"/>
        {% block styles %}
        {% endblock %}
    </head>
    <body hx-headers='{"Accept": "application/htmx+html"}'>
        {% if session %}
        <a style="float:right"
           href="/view/logout.html">logout</a>
        {% else %}
        <a style="float:right"
           href="/view/login.html"
           target="_blank">login</a>
        {% endif %}
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </body>
</html>
