[{:attribute/eid #uuid "c1000000-0000-0000-0000-000000000001",
  :attribute/key "always_flying",
  :attribute/name "Always Flying",
  :attribute/description "This unit is always flying and cannot land.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000002",
  :attribute/key "armoured_vehicle",
  :attribute/name "Armoured Vehicle",
  :attribute/description
  "This unit has variable Missile Block Chance depending on which side of the unit is hit by a projectile. The missile block chance multiplier of each direction is: 1.0x at the front 0.5x at the sides 0.1x at the rear",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000003",
  :attribute/key "bound_fire_daemon",
  :attribute/name "Bound Fire Daemon",
  :attribute/description
  "Bound Fire Daemons cannot be routed, but they take damage when their Leadership is broken. Bound Fire Daemons also have: Physical Resistance Fire Resistance Fear and Terror Immunity Bound Fire Daemons are also Unbreakable whilst most of their hit points are remaining.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000004",
  :attribute/key "can_block_missiles_360",
  :attribute/name "Can Block Missiles 360",
  :attribute/description
  "This unit can block projectiles regardless of its facing.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000005",
  :attribute/key "cant_run",
  :attribute/name "Cant Run",
  :attribute/description
  "This unit cannot run and will only move at walking pace.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000006",
  :attribute/key "causes_fear",
  :attribute/name "Causes Fear",
  :attribute/description
  "This unit frightens all enemy units, reducing their leadership when nearby. It is also immune to fear. Fear penalties do not stack.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000007",
  :attribute/key "causes_terror",
  :attribute/name "Causes Terror",
  :attribute/description
  "This unit can cause terror, making its melee target rout for a short time. Units that cause terror are immune to terror and fear themselves.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000008",
  :attribute/key "charge_defense",
  :attribute/name "Charge Defense",
  :attribute/description
  "When bracing, this unit negates the charge bonus of any attacker.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000009",
  :attribute/key "charge_defense_vs_large",
  :attribute/name "Charge Defense Vs Large",
  :attribute/description
  "When bracing, this unit negates the charge bonus of any large attacker.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000a",
  :attribute/key "charge_reflection",
  :attribute/name "Charge Reflection",
  :attribute/description
  "When bracing, this unit causes additional damage when attacking charging enemies.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000b",
  :attribute/key "construct",
  :attribute/name "Construct",
  :attribute/description
  "Constructs cannot be routed, but take damage when their Leadership is broken. Constructs also have: Fear and Terror Immunity Constructs may also have their hit points restored and stats boosted by special characters such as the Tomb Kings Necrotect.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000c",
  :attribute/key "contempt",
  :attribute/name "Contempt",
  :attribute/description
  "Witnessing other friendly units rout will only affect this unit's leadership if they also have the Contempt attribute.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000d",
  :attribute/key "daemonic",
  :attribute/name "Daemonic",
  :attribute/description
  "Daemonic units cannot be routed, but take damage when their Leadership is low. Daemonic units also have: Physical Resistance Fear and Terror Immunity",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000e",
  :attribute/key "devastating_flanker",
  :attribute/name "Devastating Flanker",
  :attribute/description
  "Entities with this attribute double their charge bonus when attacking the rear or flank of an entity.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000000f",
  :attribute/key "elemental",
  :attribute/name "Elemental",
  :attribute/description
  "Elementals cannot be routed, but take damage when their Leadership is broken. Elementals also have: Physical Resistance Fear and Terror Immunity",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000010",
  :attribute/key "encourages",
  :attribute/name "Encourages",
  :attribute/description
  "This unit provides a leadership bonus to nearby allies. Units within range of both the Lord's aura and an encouraging unit will receive the larger of the two bonuses.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000011",
  :attribute/key "expendable",
  :attribute/name "Expendable",
  :attribute/description
  "Witnessing friendly expendable units rout does not reduce other units' leadership, unless they are themselves expendable.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000012",
  :attribute/key "fatigue_immune",
  :attribute/name "Fatigue Immune",
  :attribute/description
  "Even when performing the most fatiguing actions, this unit never loses vigour.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000013",
  :attribute/key "flanking_immune",
  :attribute/name "Flanking Immune",
  :attribute/description "This unit takes no penalties when flanked.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000014",
  :attribute/key "flying",
  :attribute/name "Flying",
  :attribute/description "This unit can fly.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000015",
  :attribute/key "formed_attack",
  :attribute/name "Formed Attack",
  :attribute/description
  "The unit will try to stay in formation when in melee. Melee defence will be slightly increased.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000016",
  :attribute/key "glorious_charge",
  :attribute/name "Glorious Charge",
  :attribute/description
  "When charging into an enemy unit: Charge Bonus duration is doubled. Enemy units take a Leadership penalty as if they have been attacked in the flank.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000017",
  :attribute/key "gorger",
  :attribute/name "Gorger",
  :attribute/description
  "This unit counts as a Gorger for ability targeting",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000018",
  :attribute/key "guerrilla_deploy",
  :attribute/name "Guerrilla Deploy",
  :attribute/description
  "This unit can deploy outside the deployment zone.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000019",
  :attribute/key "gunship",
  :attribute/name "Gunship",
  :attribute/description
  "This unit relies entirely on missile attacks to deal damage and has no melee capabilities. Gunship-type units also: Attack ground targets from directly above Attack flying targets from range Have certain riders with infinite Ammunition",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001a",
  :attribute/key "hellforged",
  :attribute/name "Hellforged",
  :attribute/description
  "This unit can be restored in battle by the Daemonsmith's Reforge ability.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001b",
  :attribute/key "hide_forest",
  :attribute/name "Hide Forest",
  :attribute/description
  "This unit can hide in forests until enemy units get too close.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001c",
  :attribute/key "ignore_imbue_contact_effects_enemy",
  :attribute/name "Ignore Imbue Contact Effects Enemy",
  :attribute/description
  "Entities with this attribute ignore the effects of enemy contact effects such as Poison",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001d",
  :attribute/key "ignore_trees",
  :attribute/name "Ignore Trees",
  :attribute/description "This unit can pass through trees.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001e",
  :attribute/key "immune_to_psychology",
  :attribute/name "Immune To Psychology",
  :attribute/description
  "The unit is immune to psychological attacks (Fear & Terror).",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000001f",
  :attribute/key "knight",
  :attribute/name "Knight",
  :attribute/description
  "Witnessing friendly units with the Peasant Attribute rout will not affect this unit's leadership.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000020",
  :attribute/key "kroxigor",
  :attribute/name "Kroxigor",
  :attribute/description
  "A unit with the Kroxigor will gain the following bonuses if a unit with the Skink Attribute is nearby: Increased Weapon Strength",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000021",
  :attribute/key "mark_khorne",
  :attribute/name "Mark Khorne",
  :attribute/description
  "A unit with the Mark of Khorne has: Frenzy Passive Ability Increased Spell Resistance Increased Armour Reduced Melee Defence",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000022",
  :attribute/key "mark_nurgle",
  :attribute/name "Mark Nurgle",
  :attribute/description
  "A unit with the Mark of Nurgle has: Poison Contact Effect Increased Hit Points Increased Melee Defence Reduced Melee Attack",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000023",
  :attribute/key "mark_slaanesh",
  :attribute/name "Mark Slaanesh",
  :attribute/description
  "A unit with the Mark of Slaanesh has: Immune to Psychology Attribute Strider Attribute Increased Physical Resistance Increased Speed",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000024",
  :attribute/key "mark_tzeentch",
  :attribute/name "Mark Tzeentch",
  :attribute/description
  "A unit with the Mark of Tzeentch has: Barrier Magical Attacks",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000025",
  :attribute/key "moulder_monster",
  :attribute/name "Moulder Monster",
  :attribute/description
  "This is a unit created by Clan Moulder. Packmasters and Throt the Unclean can push it to its full combat potential and restore it in battle.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000026",
  :attribute/key "mounted_fire_move",
  :attribute/name "Mounted Fire Move",
  :attribute/description "This unit can fire while on the move.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000027",
  :attribute/key "ogre_charge",
  :attribute/name "Ogre Charge",
  :attribute/description
  "When attacking braced charge defenders, this unit only loses half of its charge bonus.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000028",
  :attribute/key "peasant",
  :attribute/name "Peasant",
  :attribute/description
  "A unit with the Peasant Attribute will gain increased leadership if a unit with the Knight Attribute is nearby.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000029",
  :attribute/key "rampage",
  :attribute/name "Rampage",
  :attribute/description
  "A Rampaging unit is uncontrollable and will attack the nearest enemy unit. When there are no enemy units nearby, a Rampaging unit will move around randomly instead.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002a",
  :attribute/key "randomises_spells_on_cast",
  :attribute/name "Randomises Spells On Cast",
  :attribute/description
  "When this unit casts a spell, all of their spells will be randomly replaced by another spell.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002b",
  :attribute/key "skink",
  :attribute/name "Skink",
  :attribute/description
  "A unit with the Skink Attribute will gain the following bonuses if a unit with the Kroxigor Attribute is nearby: Causes Fear",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002c",
  :attribute/key "slayer",
  :attribute/name "Slayer",
  :attribute/description
  "This unit is a Slayer. Slayers can never have their Weapon Strength reduced during a battle.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002d",
  :attribute/key "snipe",
  :attribute/name "Snipe",
  :attribute/description "This unit remains hidden while firing.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002e",
  :attribute/key "spell_mastery",
  :attribute/name "Spell Mastery",
  :attribute/description
  "When two or more units in the same army share this attribute, intensity increases the power of spells cast.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-00000000002f",
  :attribute/key "squig",
  :attribute/name "Squig",
  :attribute/description
  "This unit counts as a Squig for ability targeting",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000030",
  :attribute/key "stalk",
  :attribute/name "Stalk",
  :attribute/description "This unit can move hidden in any terrain.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000031",
  :attribute/key "strider",
  :attribute/name "Strider",
  :attribute/description
  "Speed and combat penalties caused by terrain are ignored by this unit.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000032",
  :attribute/key "unbreakable",
  :attribute/name "Unbreakable",
  :attribute/description
  "This unit does not suffer any form of leadership loss and will never rout.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000033",
  :attribute/key "undead",
  :attribute/name "Undead",
  :attribute/description
  "Undead units cannot be routed, but take damage when their {{tr:morale}} is broken. Undead units also have: Fear and Terror Immunity Undead units may also have their hit points restored by special characters such as the Vampire Counts Necromancer.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000034",
  :attribute/key "underground",
  :attribute/name "Underground",
  :attribute/description
  "The Dread Maw is underground. It cannot be attacked but neither can it attack in turn.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000035",
  :attribute/key "unspottable",
  :attribute/name "Unspottable",
  :attribute/description
  "If this unit can hide at its current location it will not be spotted until the enemy is very close.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000036",
  :attribute/key "unyielding_assault",
  :attribute/name "Unyielding Assault",
  :attribute/description
  "This unit can never have its Melee Attack reduced during battle.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000037",
  :attribute/key "wallbreaker",
  :attribute/name "Wallbreaker",
  :attribute/description
  "Allows the unit to attack and destroy walls in melee. This attribute also adds a +50% damage multiplier against buildings.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000038",
  :attribute/key "yang",
  :attribute/name "Yang",
  :attribute/description
  "This unit counts as a Yang unit for the purpose of Battle Harmony proximity",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 {:attribute/eid #uuid "c1000000-0000-0000-0000-000000000039",
  :attribute/key "yin",
  :attribute/name "Yin",
  :attribute/description
  "This unit counts as a Yin unit for the purpose of Battle Harmony proximity.",
  :attribute/game
  [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}]
