[#:mount{:eid #uuid "d2000000-0000-0000-0000-000000000001",
         :key "mount_ancient_stegadon",
         :name "Ancient Stegadon",
         :icon-key "mount_ancient_stegadon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000002",
         :key "mount_anvil_of_doom",
         :name "Anvil of Doom",
         :icon-key "mount_anvil_of_doom",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000003",
         :key "mount_arachnarok_spider",
         :name "Arachnarok Spider (Catchweb Spidershrine)",
         :icon-key "mount_arachnarok_spider",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000004",
         :key "mount_arcane_phoenix",
         :name "Arcane Phoenix",
         :icon-key "mount_arcane_phoenix",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000005",
         :key "mount_bale_taurus",
         :name "Bale Taurus",
         :icon-key "mount_bale_taurus",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000006",
         :key "mount_bale_taurus_cinderbreath",
         :name "Cinderbreath",
         :icon-key "mount_bale_taurus_cinderbreath",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000007",
         :key "mount_barded_chaos_steed",
         :name "Barded Chaos Steed",
         :icon-key "mount_barded_chaos_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000008",
         :key "mount_barded_ithilmar_steed",
         :name "Barded Ithilmar Steed",
         :icon-key "mount_barded_ithilmar_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000009",
         :key "mount_barded_nightmare",
         :name "Barded Nightmare",
         :icon-key "mount_barded_nightmare",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000a",
         :key "mount_barded_skeletal_steed",
         :name "Barded Skeletal Steed",
         :icon-key "mount_barded_skeletal_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000b",
         :key "mount_barded_warhorse",
         :name "Barded Warhorse",
         :icon-key "mount_barded_warhorse",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000c",
         :key "mount_beaquis",
         :name "Beaquis",
         :icon-key "mount_beaquis",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000d",
         :key "mount_black_dragon",
         :name "Black Dragon",
         :icon-key "mount_black_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000e",
         :key "mount_blood_throne",
         :name
         "{{tr:ancillaries_onscreen_name_wh3_main_anc_mount_kho_herald_of_khorne_blood_throne}}",
         :icon-key "mount_blood_throne",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000000f",
         :key "mount_brood_horror",
         :name "Brood Horror",
         :icon-key "mount_brood_horror",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000010",
         :key "mount_bubebolos",
         :name "Bubebolos",
         :icon-key "mount_bubebolos",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000011",
         :key "mount_burning_chariot",
         :name "Burning Chariot",
         :icon-key "mount_burning_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000012",
         :key "mount_carmine_dragon",
         :name "Carmine Dragon",
         :icon-key "mount_carmine_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000013",
         :key "mount_carnosaur",
         :name "Carnosaur",
         :icon-key "mount_carnosaur",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000014",
         :key "mount_casket_of_souls",
         :name "Casket of Souls",
         :icon-key "mount_casket_of_souls",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000015",
         :key "mount_cauldron_of_blood",
         :name "Cauldron of Blood",
         :icon-key "mount_cauldron_of_blood",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000016",
         :key "mount_celestial_lion",
         :name
         "{{tr:units_custom_battle_mounts_mount_name_wh3_dlc24_cth_cha_celestial_general_yangwh3_dlc24_cth_cha_celestial_general_yang_celestial_lion}}",
         :icon-key "mount_celestial_lion",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000017",
         :key "mount_chaos_chariot",
         :name "Chaos Chariot",
         :icon-key "mount_chaos_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000018",
         :key "mount_chaos_dragon",
         :name "Chaos Dragon",
         :icon-key "mount_chaos_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000019",
         :key "mount_chaos_steed",
         :name "Chaos Steed",
         :icon-key "mount_chaos_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001a",
         :key "mount_chariot_of_the_gods",
         :name "Chariot of the Gods",
         :icon-key "mount_chariot_of_the_gods",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001b",
         :key "mount_cold_one",
         :name "Cold One",
         :icon-key "mount_cold_one",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001c",
         :key "mount_cold_one_chariot",
         :name "Cold One Chariot",
         :icon-key "mount_cold_one_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001d",
         :key "mount_corpse_cart",
         :name "Corpse Cart",
         :icon-key "mount_corpse_cart",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001e",
         :key "mount_corpse_cart_with_balefire",
         :name "Corpse Cart (Balefire)",
         :icon-key "mount_corpse_cart_with_balefire",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000001f",
         :key "mount_corpse_cart_with_lodestone",
         :name "The Brothers Ghorst Corpse Cart",
         :icon-key "mount_corpse_cart_with_lodestone",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000020",
         :key "mount_daemonic_steed",
         :name
         "{{tr:ancillaries_onscreen_name_wh3_dlc27_anc_mount_chs_cha_exalted_hero_msla_daemonic_steed}}",
         :icon-key "mount_daemonic_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000021",
         :key "mount_dark_pegasus",
         :name "Dark Pegasus",
         :icon-key "mount_dark_pegasus",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000022",
         :key "mount_dark_steed",
         :name "Dark Steed",
         :icon-key "mount_dark_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000023",
         :key "mount_deathclaw",
         :name "Deathclaw",
         :icon-key "mount_deathclaw",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000024",
         :key "mount_disc_of_tzeentch",
         :name "Disc of Tzeentch",
         :icon-key "mount_disc_of_tzeentch",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000025",
         :key "mount_doom_flayer",
         :name "Doom-Flayer",
         :icon-key "mount_doom_flayer",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000026",
         :key "mount_doom_wheel",
         :name "Doomwheel",
         :icon-key "mount_doom_wheel",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000027",
         :key "mount_dorghar",
         :name "Dorghar",
         :icon-key "mount_dorghar",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000028",
         :key "mount_exalted_seeker_chariot",
         :name "Exalted Seeker Chariot",
         :icon-key "mount_exalted_seeker_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000029",
         :key "mount_flesh_hound",
         :name "Flesh Hound of Khorne",
         :icon-key "mount_flesh_hound",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002a",
         :key "mount_forest_dragon",
         :name "Ceithin-Har",
         :icon-key "mount_forest_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002b",
         :key "mount_frost_wyrm",
         :name "Frost Wyrm",
         :icon-key "mount_frost_wyrm",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002c",
         :key "mount_giant_spider",
         :name "Giant Spider",
         :icon-key "mount_giant_spider",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002d",
         :key "mount_giant_wolf",
         :name "Giant Wolf",
         :icon-key "mount_giant_wolf",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002e",
         :key "mount_gorebeast_chariot",
         :name "Gorebeast Chariot",
         :icon-key "mount_gorebeast_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000002f",
         :key "mount_great_cave_squig",
         :name
         "{{tr:ancillaries_onscreen_name_wh_dlc06_anc_mount_grn_night_goblin_warboss_great_cave_squig}}",
         :icon-key "mount_great_cave_squig",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000030",
         :key "mount_great_eagle",
         :name "Great Eagle",
         :icon-key "mount_great_eagle",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000031",
         :key "mount_great_moon_bird",
         :name
         "{{tr:units_custom_battle_mounts_mount_name_wh3_main_cth_cha_astromancer_0wh3_dlc24_cth_cha_astromancer_great_moon_bird}}",
         :icon-key "mount_great_moon_bird",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000032",
         :key "mount_great_stag",
         :name "Great Stag",
         :icon-key "mount_great_stag",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000033",
         :key "mount_great_taurus",
         :name "Great Taurus",
         :icon-key "mount_great_taurus",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000034",
         :key "mount_grymloq",
         :name "Grymloq",
         :icon-key "mount_grymloq",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000035",
         :key "mount_hef_griffon",
         :name "Stormwing",
         :icon-key "mount_hef_griffon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000036",
         :key "mount_hellsteed",
         :name "Hellsteed",
         :icon-key "mount_hellsteed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000037",
         :key "mount_hippogryph",
         :name "Hippogryph",
         :icon-key "mount_hippogryph",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000038",
         :key "mount_horned_one",
         :name "Horned One",
         :icon-key "mount_horned_one",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000039",
         :key "mount_imperial_griffon",
         :name "Imperial Griffon",
         :icon-key "mount_imperial_griffon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003a",
         :key "mount_imperial_pegasus",
         :name "Imperial Pegasus",
         :icon-key "mount_imperial_pegasus",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003b",
         :key "mount_ithilmar_chariot",
         :name "Ithilmar Chariot",
         :icon-key "mount_ithilmar_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003c",
         :key "mount_jade_longma",
         :name "Jade Longma",
         :icon-key "mount_jade_longma",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003d",
         :key "mount_juggernaut",
         :name "Juggernaut",
         :icon-key "mount_juggernaut",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003e",
         :key "mount_lammasu",
         :name "Lammasu",
         :icon-key "mount_lammasu",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000003f",
         :key "mount_leviathon",
         :name "Rotting Leviathan",
         :icon-key "mount_leviathon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000040",
         :key "mount_mammoth",
         :name
         "{{tr:land_units_onscreen_name_wh_dlc08_nor_mon_war_mammoth_2}}",
         :icon-key "mount_mammoth",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000041",
         :key "mount_manticore",
         :name "Manticore",
         :icon-key "mount_manticore",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000042",
         :key "mount_mechanical_steed",
         :name "Mechanical Steed",
         :icon-key "mount_mechanical_steed",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000043",
         :key "mount_moon_dragon",
         :name "Moon Dragon",
         :icon-key "mount_moon_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000044",
         :key "mount_necrofex",
         :name "Necrofex Colossus",
         :icon-key "mount_necrofex",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000045",
         :key "mount_necroserpent",
         :name "Necroserpent",
         :icon-key "mount_necroserpent",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000046",
         :key "mount_nightmare",
         :name "Nightmare",
         :icon-key "mount_nightmare",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000047",
         :key "mount_nurgling_palanquin",
         :name "Nurgling Palanquin",
         :icon-key "mount_nurgling_palanquin",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000048",
         :key "mount_plague_furnace",
         :name "Plague Furnace",
         :icon-key "mount_plague_furnace",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000049",
         :key "mount_promethean",
         :name "Rotting Promethean",
         :icon-key "mount_promethean",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004a",
         :key "mount_rat_ogre",
         :name "Bonebreaker",
         :icon-key "mount_rat_ogre",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004b",
         :key "mount_razorgor_chariot",
         :name "Razorgor Chariot",
         :icon-key "mount_razorgor_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004c",
         :key "mount_ripperdactyl",
         :name "Ripperdactyl",
         :icon-key "mount_ripperdactyl",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004d",
         :key "mount_rot_beast",
         :name "Rot Beast",
         :icon-key "mount_rot_beast",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004e",
         :key "mount_rot_fly",
         :name "Rot Fly",
         :icon-key "mount_rot_fly",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000004f",
         :key "mount_royal_pegasus",
         :name "Royal Pegasus",
         :icon-key "mount_royal_pegasus",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000050",
         :key "mount_scourgerunner_chariot",
         :name "Scourgerunner Chariot",
         :icon-key "mount_scourgerunner_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000051",
         :key "mount_screaming_bell",
         :name "Screaming Bell",
         :icon-key "mount_screaming_bell",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000052",
         :key "mount_seeker_chariot",
         :name "Seeker Chariot",
         :icon-key "mount_seeker_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000053",
         :key "mount_skeletal_steed_tmb",
         :name "Skeletal Steed",
         :icon-key "mount_skeletal_steed_tmb",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000054",
         :key "mount_skeleton_chariot",
         :name "Skeleton Chariot",
         :icon-key "mount_skeleton_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000055",
         :key "mount_skullmuncha",
         :name "Skullmuncha",
         :icon-key "mount_skullmuncha",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000056",
         :key "mount_sky_cutter",
         :name "Skycutter Chariot",
         :icon-key "mount_sky_cutter",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000057",
         :key "mount_sky_lantern",
         :name "Sky Lantern",
         :icon-key "mount_sky_lantern",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000058",
         :key "mount_sled",
         :name "Ice Court Sled",
         :icon-key "mount_sled",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000059",
         :key "mount_star_dragon",
         :name "Minaithnir",
         :icon-key "mount_star_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005a",
         :key "mount_steam_tank",
         :name "Steam Tank",
         :icon-key "mount_steam_tank",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005b",
         :key "mount_steed_of_slaanesh",
         :name
         "{{tr:ancillaries_onscreen_name_wh3_main_anc_mount_sla_alluress_shadow_steed_of_slaanesh}}",
         :icon-key "mount_steed_of_slaanesh",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005c",
         :key "mount_stegadon",
         :name "Stegadon",
         :icon-key "mount_stegadon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005d",
         :key "mount_stegadon_engine_gods",
         :name "Ancient Stegadon (Engine of the Gods)",
         :icon-key "mount_stegadon_engine_gods",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005e",
         :key "mount_stonehorn",
         :name "Stonehorn",
         :icon-key "mount_stonehorn",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000005f",
         :key "mount_sun_dragon",
         :name "Sun Dragon",
         :icon-key "mount_sun_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000060",
         :key "mount_terradon",
         :name "Terradon",
         :icon-key "mount_terradon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000061",
         :key "mount_terrorgheist",
         :name "Death Shriek Terrorgheist",
         :icon-key "mount_terrorgheist",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000062",
         :key "mount_tuskgor_chariot",
         :name "Tuskgor Chariot",
         :icon-key "mount_tuskgor_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000063",
         :key "mount_unicorn",
         :name "Unicorn",
         :icon-key "mount_unicorn",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000064",
         :key "mount_urskin",
         :name "Urskin",
         :icon-key "mount_urskin",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000065",
         :key "mount_war_altar_of_sigmar",
         :name "War Altar of Sigmar",
         :icon-key "mount_war_altar_of_sigmar",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000066",
         :key "mount_war_bear",
         :name "War Bear",
         :icon-key "mount_war_bear",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000067",
         :key "mount_war_boar",
         :name "War Boar",
         :icon-key "mount_war_boar",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000068",
         :key "mount_war_boar_chariot",
         :name "War Boar Chariot",
         :icon-key "mount_war_boar_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000069",
         :key "mount_warhorse",
         :name "Elven Steed",
         :icon-key "mount_warhorse",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006a",
         :key "mount_warshrine",
         :name "Chaos Warshrine",
         :icon-key "mount_warshrine",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006b",
         :key "mount_warsphinx",
         :name "Khemrian Warsphinx",
         :icon-key "mount_warsphinx",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006c",
         :key "mount_white_lion_chariot",
         :name "White Lion Chariot",
         :icon-key "mount_white_lion_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006d",
         :key "mount_wolf_chariot",
         :name "Wolf Chariot",
         :icon-key "mount_wolf_chariot",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006e",
         :key "mount_wu_xing_war_compass",
         :name "Wu Xing War Compass",
         :icon-key "mount_wu_xing_war_compass",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-00000000006f",
         :key "mount_wyvern",
         :name
         "{{tr:ancillaries_onscreen_name_wh_main_anc_mount_grn_orc_warboss_wyvern}}",
         :icon-key "mount_wyvern",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000070",
         :key "mount_zombie_dragon",
         :name "Zombie Dragon",
         :icon-key "mount_zombie_dragon",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:mount{:eid #uuid "d2000000-0000-0000-0000-000000000071",
         :key "placeholder",
         :name "Placeholder",
         :icon-key "placeholder",
         :game
         [:game/eid #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}]
