[#:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000001",
                 :name "Lord",
                 :description
                 "Powerful leaders that command your army on the battlefield.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000002",
                 :name "Hero",
                 :description
                 "Elite characters with unique abilities that support your forces.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000003",
                 :name "Melee Infantry",
                 :description
                 "Ground troops that engage enemies in close combat.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000004",
                 :name "Missile Infantry",
                 :description
                 "Infantry units that attack enemies from range.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000005",
                 :name "Melee Cavalry",
                 :description
                 "Mounted warriors that charge and engage enemies in close combat.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000006",
                 :name "Missile Cavalry",
                 :description
                 "Mounted units that harass enemies with ranged attacks.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000007",
                 :name "Chariot",
                 :description
                 "Wheeled war vehicles that crash through enemy lines.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000008",
                 :name "War Machine",
                 :description
                 "Mechanical constructs and devices built for destruction.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000009",
                 :name "Artillery",
                 :description
                 "Long-range siege weapons that bombard enemy formations.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000010",
                 :name "War Beast",
                 :description
                 "Tamed creatures of war unleashed upon the enemy.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000011",
                 :name "Monstrous Infantry",
                 :description
                 "Large humanoid creatures that fight on foot and crush enemy ranks.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000012",
                 :name "Monster",
                 :description
                 "Enormous creatures that tower over the battlefield and inspire terror.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}
 #:unit-category{:eid #uuid "a1000000-0000-0000-0000-000000000013",
                 :name "Monstrous Cavalry",
                 :description
                 "Monstrous creatures ridden as cavalry that combine powerful charge with formidable bulk.",
                 :game
                 [:game/eid
                  #uuid "eea787d7-1065-45eb-a3f6-e26f32c294a1"]}]
