[#:unit-level-cost{:level 0,
                   :fixed-cost 0,
                   :cost-multiplier 1.0,
                   :fatigue 0,
                   :melee-cp 0.0,
                   :missile-cp 0.0}
 #:unit-level-cost{:level 1,
                   :fixed-cost 11,
                   :cost-multiplier 1.03,
                   :fatigue 0,
                   :melee-cp 26.0,
                   :missile-cp 26.0}
 #:unit-level-cost{:level 2,
                   :fixed-cost 22,
                   :cost-multiplier 1.06,
                   :fatigue 0,
                   :melee-cp 51.0,
                   :missile-cp 51.0}
 #:unit-level-cost{:level 3,
                   :fixed-cost 33,
                   :cost-multiplier 1.09,
                   :fatigue -1,
                   :melee-cp 77.0,
                   :missile-cp 77.0}
 #:unit-level-cost{:level 4,
                   :fixed-cost 44,
                   :cost-multiplier 1.12,
                   :fatigue -1,
                   :melee-cp 102.0,
                   :missile-cp 102.0}
 #:unit-level-cost{:level 5,
                   :fixed-cost 55,
                   :cost-multiplier 1.15,
                   :fatigue -2,
                   :melee-cp 128.0,
                   :missile-cp 128.0}
 #:unit-level-cost{:level 6,
                   :fixed-cost 66,
                   :cost-multiplier 1.18,
                   :fatigue -2,
                   :melee-cp 154.0,
                   :missile-cp 154.0}
 #:unit-level-cost{:level 7,
                   :fixed-cost 77,
                   :cost-multiplier 1.21,
                   :fatigue -3,
                   :melee-cp 179.0,
                   :missile-cp 179.0}
 #:unit-level-cost{:level 8,
                   :fixed-cost 88,
                   :cost-multiplier 1.24,
                   :fatigue -3,
                   :melee-cp 205.0,
                   :missile-cp 205.0}
 #:unit-level-cost{:level 9,
                   :fixed-cost 99,
                   :cost-multiplier 1.27,
                   :fatigue -4,
                   :melee-cp 230.0,
                   :missile-cp 230.0}]
