[{:unit-level-cost/level 0,
  :unit-level-cost/fixed-cost 0,
  :unit-level-cost/cost-multiplier 1.0,
  :unit-level-cost/fatigue 0,
  :unit-level-cost/melee-cp 0.0,
  :unit-level-cost/missile-cp 0.0}
 {:unit-level-cost/level 1,
  :unit-level-cost/fixed-cost 11,
  :unit-level-cost/cost-multiplier 1.03,
  :unit-level-cost/fatigue 0,
  :unit-level-cost/melee-cp 26.0,
  :unit-level-cost/missile-cp 26.0}
 {:unit-level-cost/level 2,
  :unit-level-cost/fixed-cost 22,
  :unit-level-cost/cost-multiplier 1.06,
  :unit-level-cost/fatigue 0,
  :unit-level-cost/melee-cp 51.0,
  :unit-level-cost/missile-cp 51.0}
 {:unit-level-cost/level 3,
  :unit-level-cost/fixed-cost 33,
  :unit-level-cost/cost-multiplier 1.09,
  :unit-level-cost/fatigue -1,
  :unit-level-cost/melee-cp 77.0,
  :unit-level-cost/missile-cp 77.0}
 {:unit-level-cost/level 4,
  :unit-level-cost/fixed-cost 44,
  :unit-level-cost/cost-multiplier 1.12,
  :unit-level-cost/fatigue -1,
  :unit-level-cost/melee-cp 102.0,
  :unit-level-cost/missile-cp 102.0}
 {:unit-level-cost/level 5,
  :unit-level-cost/fixed-cost 55,
  :unit-level-cost/cost-multiplier 1.15,
  :unit-level-cost/fatigue -2,
  :unit-level-cost/melee-cp 128.0,
  :unit-level-cost/missile-cp 128.0}
 {:unit-level-cost/level 6,
  :unit-level-cost/fixed-cost 66,
  :unit-level-cost/cost-multiplier 1.18,
  :unit-level-cost/fatigue -2,
  :unit-level-cost/melee-cp 154.0,
  :unit-level-cost/missile-cp 154.0}
 {:unit-level-cost/level 7,
  :unit-level-cost/fixed-cost 77,
  :unit-level-cost/cost-multiplier 1.21,
  :unit-level-cost/fatigue -3,
  :unit-level-cost/melee-cp 179.0,
  :unit-level-cost/missile-cp 179.0}
 {:unit-level-cost/level 8,
  :unit-level-cost/fixed-cost 88,
  :unit-level-cost/cost-multiplier 1.24,
  :unit-level-cost/fatigue -3,
  :unit-level-cost/melee-cp 205.0,
  :unit-level-cost/missile-cp 205.0}
 {:unit-level-cost/level 9,
  :unit-level-cost/fixed-cost 99,
  :unit-level-cost/cost-multiplier 1.27,
  :unit-level-cost/fatigue -4,
  :unit-level-cost/melee-cp 230.0,
  :unit-level-cost/missile-cp 230.0}]
