{% extends "rts-web/template/entrypoint.html" %}

{% block title %}{{data.name}} | {{game.name}} | RTS-UI{% endblock %}

{% block content %}
<section id="game-browser" class="resource game-resource" aria-labelledby="faction-heading">
    <h2 id="faction-heading">{{data.name}}</h2>
    <p>{{data.description|linebreaks|safe}}</p>
    {% if data._embedded.units-by-category %}
    <section id="game-section-factions" aria-label="Units by category">
        {% for group in data._embedded.units-by-category %}
        <h4 id="unit-category-{{forloop.counter}}">{{group.category}}</h4>
        <table class="table" aria-labelledby="unit-category-{{forloop.counter}}">
            <caption class="sr-only">{{group.category}} units for {{data.name}}</caption>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Unit Type</th>
                    <th scope="col">Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for unit in group.units %}
                <tr>
                    <td>
                        <span class="unit-row-name">
                            <a href="/view/game/{{game-eid}}/unit/{{unit.eid}}/index.html">{{unit.name}}</a>
                            {% with mark=unit.mark family-variant-count=unit.family-variant-count %}{% include "rts-web/components/unit-mark.html" %}{% endwith %}
                        </span>
                    </td>
                    <td>{{unit.unit-type-name}}</td>
                    <td>{{unit.cost}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </section>
    {% endif %}
</section>
{% endblock %}
