<div class="collection" id="flower-collection-content">
    <div id="flower-collection-meta">
        <div id="flower-collection-new">
            <a href="/flower.html">Create Flower</a>
        </div>
        <div id="flower-collection-id">Collection Location: {{data._links.self}}</div>
    </div>
    <div id="flower-collection-table">
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Location</th>
            </tr>
            {% for item in data._embedded.results %}
            <tr hx-get="/api/flower/{{item.id}}" hx-target="#resource-browser">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item._links.self}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
