<section class="resource" aria-labelledby="tournament-phase-heading">
    <h2 id="tournament-phase-heading">Phase {{data.phase-group.phase}}{% if data.phase-group.phase-type %} — {{data.phase-group.phase-type}}{% endif %}</h2>
    <dl>
        {% if data._links.tournament %}<dt>tournament</dt><dd><a href="{{ data._links.tournament }}">{{data.tournament-eid}}</a></dd>{% endif %}
        {% if data._links.game %}<dt>game</dt><dd><a href="{{ data._links.game }}">{{data.game-eid}}</a></dd>{% endif %}
    </dl>
</section>
