<section class="resource tournament-status-resource" aria-labelledby="tournament-status-heading">
  <h2 id="tournament-status-heading" data-type="tournament/status">Status: <span data-status="{{ data.status }}">{{ data.status }}</span></h2>
  <nav><a href="/api/tournament/{{ data.eid }}" rel="tournament">tournament</a></nav>
  {% if data.available-transitions|not-empty? %}
  <ul>
    {% for t in data.available-transitions %}
    <li data-transition="{{ t }}">{{ t }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</section>
