<section class="collection tournament-games" aria-labelledby="tournament-games-heading">
  <h2 id="tournament-games-heading" data-type="tournament/games">Games</h2>
  <ol>
    {% for g in data.games %}
    <li data-winner-sub="{{ g.winner-sub }}">
      <dl>
        {% if g.player-one-draft-eid %}<dt>player-one draft</dt><dd><a href="/api/draft/{{ g.player-one-draft-eid }}">{{ g.player-one-draft-eid }}</a></dd>{% endif %}
        {% if g.player-two-draft-eid %}<dt>player-two draft</dt><dd><a href="/api/draft/{{ g.player-two-draft-eid }}">{{ g.player-two-draft-eid }}</a></dd>{% endif %}
        {% if g.winner-sub %}<dt>winner</dt><dd>{{ g.winner-sub }}</dd>{% endif %}
      </dl>
    </li>
    {% endfor %}
  </ol>
  <dl>
    {% if data._links.tournament %}<dt>tournament</dt><dd><a href="{{ data._links.tournament }}">{{ data.tournament-eid }}</a></dd>{% endif %}
    {% if data._links.match %}<dt>match</dt><dd><a href="{{ data._links.match }}">{{ data.match-eid }}</a></dd>{% endif %}
  </dl>
</section>
