<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.8.2" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="index.css">
    </head>
    <body hx-headers='{"Accept": "text/html"}'>
        <a hx-get="/api/flower/collection/mine" hx-target="#collection-browser">My flowers</a>
        <a hx-get="/api/flower/collection/recent" hx-target="#collection-browser">Recent flowers</a>
        <div id="collection-browser-controls">
            <button>First</button>
            <button>Previous</button>
            <button>Next</button>
            <button>Last</button>
        </div>
        <div id="collection-browser"></div>
        <br/>
        <div id="resource-browser"></div>
    </body>
</html>
