{% extends "rts-api/template/entrypoint.html" %}

{% block content %}
<section class="resource">
    <div class="cluster cluster-2" style="justify-content: space-between; align-items: baseline;">
        <h2>My Drafts</h2>
        <a class="btn btn-primary" href="/view/game/{{game-eid}}/draft/create.html">Create Draft</a>
    </div>
    {% if drafts %}
    <ul>
        {% for draft in drafts %}
        <li>
            <a href="/view/game/{{game-eid}}/draft/{{draft.eid}}/index.html">Draft {{draft.eid}}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No drafts found.</p>
    {% endif %}
</section>
{% endblock %}
