{% extends "rts-api/template/entrypoint.html" %}

{% block title %}{{data.name}} | {{game.name}} | RTS-UI{% endblock %}

{% block content %}
<section id="game-browser" class="resource game-resource" aria-labelledby="unit-heading">
    <h2 id="unit-heading">{{data.name}}</h2>
    <dl class="resource-metadata" aria-label="Unit details">
        <dt>Unit Type</dt>
        <dd>{{data.unit-type-name}}</dd>
        <dt>Unit Category</dt>
        <dd>{{data.unit-category-name}}</dd>
    </dl>
    <p>{{data.description|linebreaks|safe}}</p>
    {% if unit-statistics %}
    <section id="unit-statistics" aria-labelledby="unit-statistics-heading">
        <h4 id="unit-statistics-heading">Statistics</h4>
        <table class="table" aria-labelledby="unit-statistics-heading">
            <caption class="sr-only">Combat statistics for {{data.name}}</caption>
            <thead>
                <tr>
                    <th scope="col">Stat</th>
                    <th scope="col">Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stat in unit-statistics %}
                <tr>
                    <td>{{stat.stat}}</td>
                    <td>{{stat.value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
    {% if abilities %}
    <section id="unit-abilities" aria-labelledby="unit-abilities-heading">
        <h4 id="unit-abilities-heading">Abilities</h4>
        <ul aria-label="Abilities for {{data.name}}">
            {% for ability in abilities %}
            <li>{{ability}}</li>
            {% endfor %}
        </ul>
    </section>
    {% endif %}
    {% if draftable-spells %}
    <section id="unit-spells" aria-labelledby="unit-spells-heading">
        <h4 id="unit-spells-heading">Spells</h4>
        <table class="table" aria-labelledby="unit-spells-heading">
            <caption class="sr-only">Draftable spells for {{data.name}}</caption>
            <thead>
                <tr>
                    <th scope="col">Spell</th>
                    <th scope="col">Cost (mp)</th>
                </tr>
            </thead>
            <tbody>
                {% for spell in draftable-spells %}
                <tr>
                    <td>{{spell.name}}</td>
                    <td>{{spell.mana-cost}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    {% endif %}
</section>
{% endblock %}
