{:deps {org.clojure/clojure  {:mvn/version "1.11.1"}
        mono/rts-data        {:local/root "../../components/rts-data"}
        mono/rts-data-deploy {:local/root "../../bases/rts-data-deploy"}}
 :aliases {:build {:extra-paths ["."]
                   :extra-deps  {io.github.clojure/tools.build
                                 {:git/tag "v0.10.13"
                                  :git/sha "ae52edfedef4ca72e699e9c86abfe0940e97dc26"}}
                   :ns-default  build}}}
